body {
  background-color: #404040;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  color: #cccccc;
}

a {
  color: #00B7FF;
}

#navBar {
  color: #cccccc;
  background-color: #333333!important;
}

#targetUrls {
  color: #737373;
  background-color: #262626;
}

#darkBtn {
  background-color: black;
}

.navbar-brand {
  color: #cccccc!important;
}

.card-body {
  background-color: #404040!important;
}

.resultBtn {
  background-color: #333333;
}
